<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated homework -->
      <package
            uri="http://www.rm2pt.com/homework"
            class="org.rm2pt.zzp.homework.metamodel.homework.HomeworkPackage"
            genModel="model/homework.genmodel"/>
   </extension>

</plugin>
